
<mat-toolbar color="primary" class="fixed-header">

<button mat-raised-button color="primary" (click)="sidenav.toggle()">
<mat-icon>list</mat-icon>
</button><span class="app-title">Cash Deposit</span>
<span class="fill-remaining-space"></span>

</mat-toolbar>

<mat-drawer-container #sidenav class="example-container">

  <mat-drawer mode="side" #sidenav class="side-color mat-elevation-z8">
    <button mat-raised-button color="warn" class="side-button" routerLink="/cash_deposit/registration">
      <mat-icon color="primary">home</mat-icon>
        User Registration</button>
    <br/>
    <button mat-raised-button color="warn" class="side-button" routerLink="/cash_deposit/deposit">
      <mat-icon color="primary">view_list</mat-icon>
      Deposit</button>
    <br/>
    <button mat-raised-button color="warn" class="side-button" routerLink="/cash_deposit">
      <mat-icon color="primary">view_module</mat-icon>
        Transaction History</button>
    
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>

    <app-messages></app-messages>
</mat-drawer-content>
</mat-drawer-container>
