<mat-card class="mat-elevation-z8">
<mat-card-header>
  <h4>Deposit</h4>
</mat-card-header>
<mat-card-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput #accountNumber placeholder="Account Number"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput #customerName  placeholder="Customer Name"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text"  aria-label="Number" matInput #userAcc placeholder="Bank Officer's Account" [formControl]="myControl"
 [matAutocomplete]="auto"/>
 <mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
    {{option}}
  </mat-option>
</mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input matInput #trxNumber placeholder="Trx Number"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput #amount placeholder="Amount"/>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-insert"
    (click)="postDeposit(accountNumber.value, customerName.value, userAcc.value,
              trxNumber.value, amount.value)">
      Deposit
      </button>
  </div>
</mat-card-content>
</mat-card>
