<mat-card class="mat-elevation-z8">
<mat-card-header>
  <h4>Bank Officer Registration</h4>
</mat-card-header>
<mat-card-content>
  <div class="example-container">

    <mat-form-field>
      <input matInput #userAccount  class="areaInputQuestion" placeholder="User Account"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput #userName class="areaInputAnswer" placeholder="User Name"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput #password type="password" class="areaInputAnswer" placeholder="Password"/>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-insert" (click)="createBankOfficer(userAccount.value, userName.value, password.value)">
      Register
      </button>
  </div>
</mat-card-content>
</mat-card>
